#layout-content {
      
    .content-section {
        display: block;
        padding: 30px;
        background-color: #f5f7f8;

        &:first-of-type > div > span {
            line-height: 1.5em;
        }
        
        h2 {
            margin-top: 0;
        }
        
        &.introduction {
            background-color:#008fba;
            color: #ffffff;
            
            .feature-intro {
                h1 {
                    font-size: 28px;
                    margin: 0 0 20px 0;
                    display: block;
                    text-align: left;
                    color: #ffffff;
                    font-weight: normal;
                }

                p {
                    margin: 0;
                    line-height: 2em;
                    font-size: 16px;
                }

                a {
                    border-radius: 3px;
                    background-color: #b2ddea;
                    color: #00475d;
                    padding: 2px 4px;
                    @include transition(background-color .2s);

                    &:hover {
                        background-color: #d8eef4;
                    }
                }
            }
        }
        
        &.implementation {
            background-color: #ffffff;

            > h3 {
                font-weight: 400;
                margin-top: 30px;
                font-size: 18px;

                &:first-child {
                    margin-top: 0px;
                }
            }

            .p-col-12 > h3 {
                font-weight: 400;
                margin-top: 30px;
                font-size: 18px;
            }

            h3.first {
                margin-top: 0px;
            }

            &.implementation-charts {
                background-color: #FFFFFF;
            }

            p {
                margin: 0;
                line-height: 1.5;
            }
        }

        &.content-submenu {
            background-color: #20272a;
            padding: 15px 30px;
            border-bottom: 1px solid #1b81d7;
            @include clearfix();

            ul {
                margin: 0;
                padding: 0;
                width: 100%;

                li {
                    list-style: none;
                    width: 20%;
                    display: inline-block;
                    margin-top: 5px;

                    a {
                        color: #cac6c6;
                        display: block;
                        width: 90%;
                        border: 1px solid transparent;
                        padding: 6px 12px;
                        border-radius: 3px;
                        @include transition(border-color .1s);

                        &:hover {
                            border: 1px solid #ffffff;
                            color: #ffffff;
                        }

                        &:focus {
                            outline: 0 none;
                            transition: box-shadow .3s;
                            box-shadow: 0 0 0 0.2em #00c4e8;
                        }
                    }
                }
            }
        }
        
        &.documentation {
            h3 {
                color:  #333333;
                margin-top: 25px;
                margin-bottom: 0px;
                font-size: 22px;
                font-weight: normal;
            }

            h4 {
                text-align: center;
                font-weight: 700;
                font-size: 16px;
            }

            p {
                color:  #333333;
                font-size: 16px;
                line-height: 24px;
                margin: 10px 0;
            }

            .doc-tablewrapper {
                margin: 10px 0;
            }

            a {
                color: #03c4e8;
            }
            
            .btn-viewsource {
                background-color: #444;
                padding: .5em;
                border-radius: 2px;
                color: #fff;
                font-weight: 700;
                margin: .5em 0;
                display: inline-block;
                @include transition(background-color .2s);
                
                &:hover {
                    background-color: #595959;
                }

                i {
                    margin-right: .25em;
                    background-color: transparent;
                    font-family: 'FontAwesome';
                }
            }

            i:not([class~="pi"]) {
                background-color: #fcf2a7;
                font-family: monaco, Consolas, Lucida Console, monospace;
                font-weight: bold;
                font-style: normal;
                font-size: 14px;
                padding: 2px;
            }

            /* Demo Tabs Source */
            .p-tabview {
                background: none;
                border: 0 none;

                .p-tabview-nav {
                    border-radius: 3px 3px 0 0;
                    padding: 4px 4px 0px 4px;
                    @include background-gradient-left2right(#008fba, #03c4e8);

                    li {    
                        a {
                            border: 0 none;
                            margin-right: 4px;
                            color: #ffffff;
                            text-shadow: none;
                            height: inherit;
                            background-color: #0080a7;
                            padding-top: 8px;
                            @include border-radius-top(3px);
                            @include transition(background-color .2s);
                        }

                        &.tab-doc {
                            margin-right: 0;
                        }

                        &.p-highlight a {
                            background: #f5f7f8;
                            color: #333333;
                        }
                        
                        &:not(.p-highlight) a:hover {
                            background-color: #007294;
                        }
                    }
                }

                .p-tabview-panels {
                    background: transparent;
                    border: 0 none;
                }
            }
        }

        &.support {
            .support-image {
                background-color: #906C90;
                padding: 30px;
                color: #ffffff;
                text-align: left;

                .p-md-6:last-child {
                    text-align: right;
                }

                h3, p {
                    color: #ffffff;
                }
            }
                    
            li {
                line-height: 1.5;
            }
        }

        .doc-table {
            border-collapse: collapse;
            width: 100%;

            th {
                background-color: #cce8f1;
                padding: 10px 14px;
                text-align: left;
                border: solid 1px #b7d0d8;
            }

            tbody{
                td {
                    padding: 10px 14px;
                    border: 1px solid #d4e1e3;
                }

                tr{
                    &:nth-child(even) {
                        background-color: #f3fbfc;
                    }
                    &:nth-child(odd) {
                        background-color: #ffffff;
                    }
                }
            }
        }
    }
}
.datascroll-result {
    .hotel-item {
        border-bottom: 1px solid #D5D5D5;
        margin: 0;
        padding: 1em;
    }

    .hotel-item .p-md-3 {
        text-align: center;
    }
    
    .hotel-item .p-col-10 {
        font-weight: bold;
    }
}

@media (max-width: 767px) {
    .datascroll-demo .hotel-item {
        text-align: center;
    }
}

.scrollpanel-demo {
    .custombar1 .p-scrollpanel-wrapper {
        border-right: 9px solid #f4f4f4;
    }

    .custombar1 .p-scrollpanel-bar {
        background-color: #007ad9;
        opacity: 1;
        @include transition(background-color .2s);
    }

    .custombar1 .p-scrollpanel-bar:hover {
        background-color: #007ad9;
    }

    .custombar2 .p-scrollpanel-wrapper {
        border-right: 9px solid #f4f4f4;
        border-bottom: 9px solid #f4f4f4;
    }

    .custombar2 .p-scrollpanel-bar {
        background-color: #cce4f7;
        border-radius: 0;
        opacity: 1;
        @include transition(background-color .2s);
    }

    .custombar2:hover .p-scrollpanel-bar {
        background-color: #99c9ef;
    }
}

.p-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -0.5em;
    margin-left: -0.5em;
    margin-top: -0.5em; }
  
  .p-nogutter {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0; }
  
  .p-nogutter > .p-col,
  .p-nogutter > [class*="p-col-"] {
    padding: 0; }
  
  .p-dir-rev {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  
  .p-dir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  
  .p-dir-col-rev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  
  .p-justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  
  .p-justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  
  .p-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  
  .p-justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  
  .p-justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  
  .p-justify-even {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
  
  .p-align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  
  .p-align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  
  .p-align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  
  .p-align-baseline {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline; }
  
  .p-align-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  
  .p-col {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    padding: 0.5em; }
  
  .p-col-fixed {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0.5em; }
  
  .p-col-align-start {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  
  .p-col-align-end {
    -ms-flex-item-align: end;
    align-self: flex-end; }
  
  .p-col-align-center {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  
  .p-col-align-baseline {
    -ms-flex-item-align: baseline;
    align-self: baseline; }
  
  .p-col-align-stretch {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch; }
  
  .p-col-1,
  .p-col-2,
  .p-col-3,
  .p-col-4,
  .p-col-5,
  .p-col-6,
  .p-col-7,
  .p-col-8,
  .p-col-9,
  .p-col-10,
  .p-col-11,
  .p-col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0.5em; }
  
  .p-col-1 {
    width: 8.3333%; }
  
  .p-col-2 {
    width: 16.6667%; }
  
  .p-col-3 {
    width: 25%; }
  
  .p-col-4 {
    width: 33.3333%; }
  
  .p-col-5 {
    width: 41.6667%; }
  
  .p-col-6 {
    width: 50%; }
  
  .p-col-7 {
    width: 58.3333%; }
  
  .p-col-8 {
    width: 66.6667%; }
  
  .p-col-9 {
    width: 75%; }
  
  .p-col-10 {
    width: 83.3333%; }
  
  .p-col-11 {
    width: 91.6667%; }
  
  .p-col-12 {
    width: 100%; }
  
  .p-offset-12 {
    margin-left: 100%; }
  
  .p-offset-11 {
    margin-left: 91.66666667%; }
  
  .p-offset-10 {
    margin-left: 83.33333333%; }
  
  .p-offset-9 {
    margin-left: 75%; }
  
  .p-offset-8 {
    margin-left: 66.66666667%; }
  
  .p-offset-7 {
    margin-left: 58.33333333%; }
  
  .p-offset-6 {
    margin-left: 50%; }
  
  .p-offset-5 {
    margin-left: 41.66666667%; }
  
  .p-offset-4 {
    margin-left: 33.33333333%; }
  
  .p-offset-3 {
    margin-left: 25%; }
  
  .p-offset-2 {
    margin-left: 16.66666667%; }
  
  .p-offset-1 {
    margin-left: 8.33333333%; }
  
  .p-offset-0 {
    margin-left: 0%; }
  
  .p-sm-1,
  .p-sm-2,
  .p-sm-3,
  .p-sm-4,
  .p-sm-5,
  .p-sm-6,
  .p-sm-7,
  .p-sm-8,
  .p-sm-9,
  .p-sm-10,
  .p-sm-11,
  .p-sm-12,
  .p-md-1,
  .p-md-2,
  .p-md-3,
  .p-md-4,
  .p-md-5,
  .p-md-6,
  .p-md-7,
  .p-md-8,
  .p-md-9,
  .p-md-10,
  .p-md-11,
  .p-md-12,
  .p-lg-1,
  .p-lg-2,
  .p-lg-3,
  .p-lg-4,
  .p-lg-5,
  .p-lg-6,
  .p-lg-7,
  .p-lg-8,
  .p-lg-9,
  .p-lg-10,
  .p-lg-11,
  .p-lg-12,
  .p-xl-1,
  .p-xl-2,
  .p-xl-3,
  .p-xl-4,
  .p-xl-5,
  .p-xl-6,
  .p-xl-7,
  .p-xl-8,
  .p-xl-9,
  .p-xl-10,
  .p-xl-11,
  .p-xl-12 {
    padding: 0.5em; }
  
  .p-col-nogutter {
    padding: 0; }
  
  @media screen and (min-width: 576px) {
    .p-sm-1,
    .p-sm-2,
    .p-sm-3,
    .p-sm-4,
    .p-sm-5,
    .p-sm-6,
    .p-sm-7,
    .p-sm-8,
    .p-sm-9,
    .p-sm-10,
    .p-sm-11,
    .p-sm-12 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto; }
  
    .p-sm-1 {
      width: 8.3333%; }
  
    .p-sm-2 {
      width: 16.6667%; }
  
    .p-sm-3 {
      width: 25%; }
  
    .p-sm-4 {
      width: 33.3333%; }
  
    .p-sm-5 {
      width: 41.6667%; }
  
    .p-sm-6 {
      width: 50%; }
  
    .p-sm-7 {
      width: 58.3333%; }
  
    .p-sm-8 {
      width: 66.6667%; }
  
    .p-sm-9 {
      width: 75%; }
  
    .p-sm-10 {
      width: 83.3333%; }
  
    .p-sm-11 {
      width: 91.6667%; }
  
    .p-sm-12 {
      width: 100%; }
  
    .p-sm-offset-12 {
      margin-left: 100%; }
  
    .p-sm-offset-11 {
      margin-left: 91.66666667%; }
  
    .p-sm-offset-10 {
      margin-left: 83.33333333%; }
  
    .p-sm-offset-9 {
      margin-left: 75%; }
  
    .p-sm-offset-8 {
      margin-left: 66.66666667%; }
  
    .p-sm-offset-7 {
      margin-left: 58.33333333%; }
  
    .p-sm-offset-6 {
      margin-left: 50%; }
  
    .p-sm-offset-5 {
      margin-left: 41.66666667%; }
  
    .p-sm-offset-4 {
      margin-left: 33.33333333%; }
  
    .p-sm-offset-3 {
      margin-left: 25%; }
  
    .p-sm-offset-2 {
      margin-left: 16.66666667%; }
  
    .p-sm-offset-1 {
      margin-left: 8.33333333%; }
  
    .p-sm-offset-0 {
      margin-left: 0%; } }
  @media screen and (min-width: 768px) {
    .p-md-1,
    .p-md-2,
    .p-md-3,
    .p-md-4,
    .p-md-5,
    .p-md-6,
    .p-md-7,
    .p-md-8,
    .p-md-9,
    .p-md-10,
    .p-md-11,
    .p-md-12 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto; }
  
    .p-md-1 {
      width: 8.3333%; }
  
    .p-md-2 {
      width: 16.6667%; }
  
    .p-md-3 {
      width: 25%; }
  
    .p-md-4 {
      width: 33.3333%; }
  
    .p-md-5 {
      width: 41.6667%; }
  
    .p-md-6 {
      width: 50%; }
  
    .p-md-7 {
      width: 58.3333%; }
  
    .p-md-8 {
      width: 66.6667%; }
  
    .p-md-9 {
      width: 75%; }
  
    .p-md-10 {
      width: 83.3333%; }
  
    .p-md-11 {
      width: 91.6667%; }
  
    .p-md-12 {
      width: 100%; }
  
    .p-md-offset-12 {
      margin-left: 100%; }
  
    .p-md-offset-11 {
      margin-left: 91.66666667%; }
  
    .p-md-offset-10 {
      margin-left: 83.33333333%; }
  
    .p-md-offset-9 {
      margin-left: 75%; }
  
    .p-md-offset-8 {
      margin-left: 66.66666667%; }
  
    .p-md-offset-7 {
      margin-left: 58.33333333%; }
  
    .p-md-offset-6 {
      margin-left: 50%; }
  
    .p-md-offset-5 {
      margin-left: 41.66666667%; }
  
    .p-md-offset-4 {
      margin-left: 33.33333333%; }
  
    .p-md-offset-3 {
      margin-left: 25%; }
  
    .p-md-offset-2 {
      margin-left: 16.66666667%; }
  
    .p-md-offset-1 {
      margin-left: 8.33333333%; }
  
    .p-md-offset-0 {
      margin-left: 0%; } }
  @media screen and (min-width: 992px) {
    .p-lg-1,
    .p-lg-2,
    .p-lg-3,
    .p-lg-4,
    .p-lg-5,
    .p-lg-6,
    .p-lg-7,
    .p-lg-8,
    .p-lg-9,
    .p-lg-10,
    .p-lg-11,
    .p-lg-12 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto; }
  
    .p-lg-1 {
      width: 8.3333%; }
  
    .p-lg-2 {
      width: 16.6667%; }
  
    .p-lg-3 {
      width: 25%; }
  
    .p-lg-4 {
      width: 33.3333%; }
  
    .p-lg-5 {
      width: 41.6667%; }
  
    .p-lg-6 {
      width: 50%; }
  
    .p-lg-7 {
      width: 58.3333%; }
  
    .p-lg-8 {
      width: 66.6667%; }
  
    .p-lg-9 {
      width: 75%; }
  
    .p-lg-10 {
      width: 83.3333%; }
  
    .p-lg-11 {
      width: 91.6667%; }
  
    .p-lg-12 {
      width: 100%; }
  
    .p-lg-offset-12 {
      margin-left: 100%; }
  
    .p-lg-offset-11 {
      margin-left: 91.66666667%; }
  
    .p-lg-offset-10 {
      margin-left: 83.33333333%; }
  
    .p-lg-offset-9 {
      margin-left: 75%; }
  
    .p-lg-offset-8 {
      margin-left: 66.66666667%; }
  
    .p-lg-offset-7 {
      margin-left: 58.33333333%; }
  
    .p-lg-offset-6 {
      margin-left: 50%; }
  
    .p-lg-offset-5 {
      margin-left: 41.66666667%; }
  
    .p-lg-offset-4 {
      margin-left: 33.33333333%; }
  
    .p-lg-offset-3 {
      margin-left: 25%; }
  
    .p-lg-offset-2 {
      margin-left: 16.66666667%; }
  
    .p-lg-offset-1 {
      margin-left: 8.33333333%; }
  
    .p-lg-offset-0 {
      margin-left: 0%; } }
  @media screen and (min-width: 1200px) {
    .p-xl-1,
    .p-xl-2,
    .p-xl-3,
    .p-xl-4,
    .p-xl-5,
    .p-xl-6,
    .p-xl-7,
    .p-xl-8,
    .p-xl-9,
    .p-xl-10,
    .p-xl-11,
    .p-xl-12 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto; }
  
    .p-xl-1 {
      width: 8.3333%; }
  
    .p-xl-2 {
      width: 16.6667%; }
  
    .p-xl-3 {
      width: 25%; }
  
    .p-xl-4 {
      width: 33.3333%; }
  
    .p-xl-5 {
      width: 41.6667%; }
  
    .p-xl-6 {
      width: 50%; }
  
    .p-xl-7 {
      width: 58.3333%; }
  
    .p-xl-8 {
      width: 66.6667%; }
  
    .p-xl-9 {
      width: 75%; }
  
    .p-xl-10 {
      width: 83.3333%; }
  
    .p-xl-11 {
      width: 91.6667%; }
  
    .p-xl-12 {
      width: 100%; }
  
    .p-xl-offset-12 {
      margin-left: 100%; }
  
    .p-xl-offset-11 {
      margin-left: 91.66666667%; }
  
    .p-xl-offset-10 {
      margin-left: 83.33333333%; }
  
    .p-xl-offset-9 {
      margin-left: 75%; }
  
    .p-xl-offset-8 {
      margin-left: 66.66666667%; }
  
    .p-xl-offset-7 {
      margin-left: 58.33333333%; }
  
    .p-xl-offset-6 {
      margin-left: 50%; }
  
    .p-xl-offset-5 {
      margin-left: 41.66666667%; }
  
    .p-xl-offset-4 {
      margin-left: 33.33333333%; }
  
    .p-xl-offset-3 {
      margin-left: 25%; }
  
    .p-xl-offset-2 {
      margin-left: 16.66666667%; }
  
    .p-xl-offset-1 {
      margin-left: 8.33333333%; }
  
    .p-xl-offset-0 {
      margin-left: 0%; } }
  
  /*# sourceMappingURL=primeflex.css.map */
  